html {
    font-family: sans-serif;
    font-size: 55%;
}

/*=========================================
MODAL/LIGHTBOX
=========================================*/

.row > .column {
    padding: 0 8px;
    width: 10%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* create 9 equal columns that float next to eachother */

.column {
    float: left;
    width: 11%;
    
}

/*The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/*Modal Content*/

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1000px;
}

/* The close Button */ 

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by defult */

.mySlides { 
    display: none;
}

/* Next/previous buttons*/

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width:auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*Position the next button to the right */ 

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* O hover, add a black backhround color with a little bit see-through*/

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/9)*/

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption Text*/

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

img.resize {
   max-width: 200px;
   max-height:  100px;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0 ,0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*=========================================
RSVP FORM
=========================================*/

.reservation form{
    font-size: 15px;
    contain: none;
    font-weight: 600;
    color: #000;
    padding: 12px 12px;
    width: 45%;
    border: 1px solid #000;
    margin: 2% auto;
    border-radius: 10px;
    background: #2b6be4;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: "Raleway", sans-serif;
}

.reservation input[type ="text"] {
    width: 80%;
    margin: 8px;
    border-radius: 10px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}
